body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fredericka the Great', cursive;
}

p, div {
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: auto;
  background: #000000;
  text-align: center;
}

.logo {
  width: 200px;
}

.video {
  background: radial-gradient(circle, transparent 30%, black 90%);
  filter: blur(8px);
  opacity: 0.5;
}

.mirror {
  transform: scale(-1,1);
}